/* _layout.scss file */
// contains the design structure styles, including responsive design implementation


/*  @sections
========================================================================== */

// ie7 needs a width for box sizing to work // box sizing issue que // just make widths for elements for 960wide. utilize no-boxizing if it works

/* @main sections
========================================================================== */

// #de-header{
//   border: 5px solid green;
// }

// #content{
//   border: 5px solid red;
// }

// #footer{
//   border: 5px solid blue;
// }

/*  @main layout regions
========================================================================== */

.container{
  position: relative;
  max-width:  $wide-screen;
  margin:  0 auto;
  padding:  0 ms(-1);
  @include breakpoint($narrow-screen $weird-screen) {
    padding: 0 6.38298%;
  }
}


/* @header section */

.section-header{
  margin-bottom: ms(-3);
}

  .region-masthead{
    // @include wireframe;
    // background-color: #ccc;
  padding-top: ms(-1);
  padding-bottom: ms(-1);
  }

  .region-navigation{
    // @include wireframe;
  padding-top: ms(-1);
  padding-bottom: ms(-1);
  }

 /* @content section */

.section-content{
  @include clearfix(true);
  margin: ms(-3) 0 ms() 0;
  padding: ms() 0;
}

#sidebar-first{
  display: none;
  @include breakpoint($weird-screen) {
    display: block;
  }
}

#sidebar-second{
  margin-top: ms();
  @include breakpoint($weird-screen) {
    margin-top: 0;
  }
}

#main .region,
#sidebar-first .region,
#sidebar-second .region{
  padding: ms();
}

// @layout with main column and first sidebar
.one-sidebar.sidebar-first{
  #sidebar-first{
    @include breakpoint($weird-screen) {
      @include grid-span(3,1);
    }
    .region{
      // @include wireframe;
    }
  }
  #main{
    @include breakpoint($weird-screen) {
      @include grid-span(9,4);
    }
    .region{
      // @include wireframe;
    }
  }
}



// @layout with main column and second sidebar

.one-sidebar.sidebar-second{
  #sidebar-second{
    @include breakpoint($weird-screen) {
      @include grid-span(3,10);
    }
    .region{
      // @include wireframe;
    }
  }

  #main{
    @include breakpoint($weird-screen) {
      @include grid-span(9,1);
    }
    .region{
      // @include wireframe;
    }
  }
}

// @layout with main column and two sidebars

.two-sidebars{

  #sidebar-first{
    @include breakpoint($weird-screen) {
      @include grid-span(3,1);
    }
    .region{
      // @include wireframe;
    }
  }

  #main{
    // @include breakpoint($narrow-screen) {
    //   @include grid-span(6,4);
    // }
    @include breakpoint($weird-screen) {
      @include grid-span(9,4);
    }

    @include breakpoint($medium-screen) {
      @include grid-span(6,4);
    }

    .region{
      // @include wireframe;
    }
  }

  #sidebar-second{
    // @include breakpoint($narrow-screen) {
    //   @include grid-span(3,10);
    // }

    @include breakpoint($weird-screen) {
      @include grid-span(12,1);
      clear: both;
      margin-top: ms();
    }

    @include breakpoint($medium-screen) {
      @include grid-span(3,10);
      margin-top: 0;
    }

    .region{
      // @include wireframe;
    }
  }
}

/*  @region main prefix */

.region-main-prefix{
  // @include wireframe;
}

/*  @region main suffix */

.region-main-suffix{
  // @include wireframe;
  margin-bottom: ms();
}


/* @footer section */

.region-footer{
  // @include wireframe;
}
