/* _layout.scss file */
// contains the design structure styles, including responsive design implementation


/*  @sections
========================================================================== */

// ie7 needs a width for box sizing to work // box sizing issue que // just make widths for elements for 960wide. utilize no-boxizing if it works

/* @main sections
========================================================================== */

#de-header{

}

#content{

}

#footer{

}

body > .region,
#footer,
.region-user-menu,
.main-prefix-section-wrapper {
  float: left;
  width: 100%;
}

.section-content {
  clear: both;
  width: 100%;
}

.main-prefix-section-wrapper {
  padding-bottom: 1em;
}



/*  @main layout regions
========================================================================== */

.container{
  position: relative;
  max-width:  $wide-screen;
  margin:  0 auto;
  padding:  0 ms(-1);
  @include breakpoint($narrow-screen $weird-screen) {
    padding: 0 6.38298%;
  }
}


/* @header section */

.section-header{
}

  .region-masthead{
    padding-top: ms(-1.3);
    padding-bottom: ms(-1.3);
    background: $brand1;
  }

  .region-masthead-secondary {
    padding-top: ms(-1);
    padding-bottom: ms(-1);
    background-color: lighten($brand3, 9%);
  }

  .region-navigation{
    border-bottom: 1px solid lighten($brand3, 9%);
  }

 /* @content section */

.section-content{
  @include clearfix(true);
  padding: ms() 0;
}

#sidebar-first{
  // uncomment: yes sidebar first small screen nav
  @include breakpoint($narrow-screen) {
      @include grid-span(6,1);
  }

  // uncomment: no sidebar first small screen nav
  // display: none;
  // @include breakpoint($weird-screen) {
  //   display: block;
  // }

  margin-top: ms();
  @include breakpoint($weird-screen) {
    margin-top: 0;
  }
}

#sidebar-second{
  margin-top: 0;
  @include breakpoint($weird-screen) {
    margin-top: 0;
  }

  // uncomment: yes sidebar first small screen nav
  @include breakpoint($narrow-screen) {
      @include grid-span(6,7);
  }

}


#sidebar-first .region,
#sidebar-second .region{
  //padding: ms();
}

// @layout with main column and first sidebar
.one-sidebar.sidebar-first{
  #sidebar-first{
    width: 100%;

    @include breakpoint(768px) {
      @include grid-span(3,1);
    }
    .region{
    }
  }
  #main{
    @include breakpoint($weird-screen) {
      @include grid-span(9,4);
    }
    .region{

    }
  }
}

// @layout with main column and second sidebar

.one-sidebar.sidebar-second{
  #sidebar-second{
    width: 100%;

    @include breakpoint(768px) {
      @include grid-span(3,10);
    }
    .region{

    }
  }

  #main{
    @include breakpoint($weird-screen) {
      @include grid-span(9,1);
    }
    .region{
    }
  }
}

// @layout with main column and two sidebars

.two-sidebars{

  #sidebar-first{
    width: 100%;
    margin-right: 0;
    margin-top: 0;

    @include breakpoint(768px) {
      @include grid-span(3,1);
    }
    .region{
    }
  }

  #main{
    // @include breakpoint($weird-screen) {
    //   @include grid-span(9,4);
    // }

    @include breakpoint(768px) {
      @include grid-span(6,4);
    }

    .region{
    }
  }

  #sidebar-second{
    width: 100%;

    // @include breakpoint(768px) {
    //   @include grid-span(12,1);
    //   clear: both;
    //   margin-top: ms();
    //   background: yellow;
    // }

    @include breakpoint(768px) {
      @include grid-span(3,10);
      margin-top: 0;
    }

    .region{

    }
  }
}

/*  @region main prefix */

.region-main-prefix{

}

/*  @region main suffix */

.region-main-suffix{

  margin-bottom: ms();
}


/* @footer section */

.region-footer{
  padding-top: ms(-1);
  padding-bottom: ms(-1);
  //background-color: lighten($brand3, 20%);
  min-height: 200px;
}

/* Admin menu. */
html body.admin-menu {
  margin-top: 6.4375em !important;

  @include breakpoint(21.3125em 28.875em) {
    margin-top: 4.875em !important;
  }

  @include breakpoint(28.9375em 54.75em) {
    margin-top: 3.375em !important;
  }

  @include breakpoint(54.8125em) {
    margin-top: 1.8125em !important;
  }

}
