
  /* =============================================================================
    OBJECT - PAGE - VIEW
   ========================================================================== */


.page-islandora-object .islandora{

  .mods-multisite-link {
    float: right;
    width: 100%;
    margin-bottom: .5em;
    margin-top: .5em;
    a {@include btn; float: right;}
  }

  .islandora-metadata-sidebar {
    float: left;
    width: 100%;
  }

   //CONTENT

   .islandora-video-content {
    float: none !important;
   }

   .islandora-basic-image-content {
      width: 100% !important;
      background: #fff;
   }

   .islandora-default-metadata {
    fieldset.islandora-metadata {
      padding-bottom: 0 !important;
      legend span{
        @include visually-hidden;
      }
    }

    .fieldset-wrapper {
      font-size: 15px;
      dd, dt {
        padding: .5em !important;
      }

      dl {
        margin: 0;
      }
    }
   }

   //METADATA

   .islandora-object-metadata {
      margin-top: 1.5em;

    //block style divs inside info section

      div {
        margin-bottom: 1.5em;
        @include block-style;
        float: left;
        width: 100%;
        background: #fff;

        &:last-child {
          margin-bottom: 0;
        }
      }

      p:first-of-type {
        margin-top: .7em;
      }

      //headers of divs

      h2 {
        padding: .7em;
        text-transform: uppercase;
        &:before {
          @include circle-icon;
          @extend %icon-profile;
          content: "i" !important;
          font-weight: $xbold;
          font-size: 16px !important;
          line-height: 19px !important;
          margin-right: .7em !important;
          top: -2px !important;
        }
      }

      div:last-of-type h2:before {
        content: "\e942" !important;
        line-height: 23px !important;
      }


      //in collections CTA list item

      ul {
      margin: 1em 0 !important;
      float: left;
      width: 100%;
      border: 1px solid $shade3;
      border-radius: 5px;

      li {
        background:#F7FCFF;
        margin-bottom: 0;
        padding: .3em .5em;

        a {
          text-decoration: none;
          color: $brand1;
          font-size: .9em;
          display: block;

          &:before {
            @extend %icon-circle-right;
            float: right;
            margin-right: 0;
            color: #ABABAB;;
            top: 3px;
          }
        }

        &:first-child {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }

        &:last-child {
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:nth-child(even) {
          background: #EEF5F9;
        }
      }
    }
   }

  //DETAILS data drop-down

  fieldset.islandora-metadata {
    margin-bottom: 1em;
    padding: 0;

    .fieldset-wrapper {
      padding: .7em;
      border: none;
    }

    legend {
      margin-left: 1em;
    }
  }
}

#block-islandora-blocks-datastreams,
#block-islandora-blocks-metadata {
  .content {
    padding: 0;

    a.bag-datastreams-link {
      @include btn;
      margin-top: 1em;
    }

    .mods-multisite-link {
      float: right;
      width: 100%;
      a {float: right;}
    }
  }
}

.ir_citationCModel fieldset,
#block-islandora-blocks-datastreams fieldset,
#block-islandora-blocks-metadata fieldset.islandora-metadata {
  @include unblock;
  margin-bottom: 0;
  padding-bottom:0 !important;
  font-size: .9em;

  legend {
    @include visually-hidden;
  }

  .fieldset-wrapper dl {
    margin: 0;
  }
}











































