// News View    ==============================================

// news landing page // uses  landing-page.grid-display for base grid styles in _objects.scss
/*
.view-id-news.landing-page {
  .views-row{
    padding: 0;
    padding-bottom: ms();
    background-color: shade(white,1%);
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .views-field-field-thumbnail-image{
    line-height: 0;
    margin-bottom: ms(-1);
  }

  .views-field-created{
    @include reset-font;
    margin: 0 ms();
    .field-content{
      @include adjust-font-size-to(13px);
      line-height: ms(.75);
    }
  }

  .views-field-title{
    margin: 0 ms();
    a{
      color: black;
      &:hover{
        color: $light-grey;
      }
    }
    .field-content{
      line-height: ms(.75);
    }
  }
  .views-field-field-teaser{
    @include reset-font;
    margin: 0 ms();
    color: $light-grey;
    .field-content{
      @include adjust-font-size-to(13px);
      line-height: ms(.75);
    }
  }
}*/

#block-views-news-block {
  header h2 {
    font-size: ms(0);
  }
}

.view-news {

  .views-row {
    width: 32%;
    float: left;
    margin: 0 2% 2% 0;
    border: 1px solid lighten($brand3, 8%);
    padding: ms(0);
  }

  .views-row:nth-child(3n+3){
    margin: 0;
  }

  .field-items,
  .views-field {
    float: left;
  }

  //image

  .field-name-field-image {
    float: left;
    width: 100%;

    img {
      float: left;
      width: 100% !important;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  //title

  .views-field-title {
    margin: .7em 0;

    a{
      text-decoration: none;
      font-weight: $bold;
    }
  }

  //body

  .field-name-body {
    float: left;

    p {
      margin-bottom: 0;
    }
  }

  .go-to-arrow {
    text-indent: -999px;
    padding: 1em;
    background-image: url('../img/arrow-right-red.png');
    background-repeat: no-repeat;
    background-position: 0 10px;
    margin-top: 1em;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }
}

























