

// search results

.spelling-suggestions{
  @extend %box-ui-light-simple;
  @include ui-box($box-padding: ms(1));
  margin-bottom: ms(1);
  dl,dt,dd{
    margin: 0;
  }
}

.search-results{
  @include reset;
  @include no-bullets;
  .title{
    @include adjust-font-size-to(18px);
    a[href*="/document/"] {
      // @include svg-bkgd($misc, 'filter-dark');
      padding-left: rhythm(.65);
    }
  }
  .search-snippet-info{
    @include reset;
  }

  .search-snippet,
  .search-info{
    @include adjust-font-size-to(15px);
  }

  .search-result{
    @include list-divider($spacing-bottom: ms());
    margin-bottom: ms();
  }
}
