@import 'dashboard/dashboard__block--private-messages';
@import 'dashboard/dashboard__block--whos-online';
@import 'dashboard/dashboard__block--my-projects';
@import 'dashboard/dashboard__block--bookmark-lists';
@import 'dashboard/dashboard__block--workflow-reports';
@import 'dashboard/dashboard__block--saved-searches';
@import 'dashboard/dashboard';
@import 'dashboard/dashboard-project';
@import 'dashboard/dashboard-project__block--utilities';
@import 'dashboard/dashboard-project__block--project-members';
@import 'dashboard/dashboard-project__block--pending-applications';


/* =============================================================================
    PAGE USER SECTION - GENERAL STYLES
   ========================================================================== */


//PAGE BACKGROUND AND SECTION STYLES

.page-user {

  // .section-content {
  //   background: #E2E2E2;
  //   border-top: 1px solid $shade1;
  //   border-bottom: 1px solid $shade1;
  // }

  h1#page-title {
    font-weight: $bold;
    // margin-bottom: .8em;
    // margin-top: .8em;

    &:before {
      @extend %circle-icon;
      @extend %icon-profile;
      height: 48px !important;
      width: 48px !important;
      font-size: 48px !important;
      line-height: 44px !important;
      margin-right: .3em !important;
      top: -4px;
    }
  }
}






//LAYOUT

// .one-sidebar.sidebar-second.page-user #main {
//   width: 100%;
//   margin-right: 0;
//   @include breakpoint($standard-screen) {
//    width: 71.46809%;
//   }
// }

// .one-sidebar.sidebar-second.page-user #sidebar-second {
//   width: 100%;
//   @include breakpoint($standard-screen) {
//    width: 26.40426%;
//   }
// }


//SIDEBARS

//no padding on sidebar for user section

// .page-user #sidebar-first .region, .page-user #sidebar-second .region {
//   padding-top: 0;
// }


/* =============================================================================
    GENREAL BLOCK STYLES
   ========================================================================== */


//GENERAL

//BUTTONS / INPUT

.section-content #main input.form-submit {
  margin: ms(0) 0 0;
}

.page-user.page-node-dashboard .section-content .block,
.page-user.page-user-dashboard .section-content .block {
  // margin-bottom: 1em;
  // float: left !important;
  // width: 100% !important;
  padding: 0;

  .content {
    // float: left;
    // width: 100%;
  }
}

//titles

.page-user .section-content .block h2 {
  //font-size: 1em;
  // font-weight: $bold;
  // color: #000;
}

//no margin on tables within blocks

.page-user .section-content .block table {
  //margin-bottom: 0;
}


//TABLES IN BLOCKS

// table th {
//   padding: 0 0 .6em 0;
// }

// table td {
//   padding: .8em .4em;
//   border-bottom: 1px solid $shade4;
// }

// table tbody tr:last-child td:first-child,
// table tbody tr:last-child td:last-child {
//   border-radius: 0;
// }

// table tbody tr td:last-child {
//   border-right: none;
// }

// table tbody tr td:first-child {
//   border-left: none;
// }

// table tr:nth-child(odd) {
//   background-color: #fff;
// }

// table {
//   thead th {
//     background: #fff;
//     color: $brand1;
//     border-bottom: 3px solid $shade2;
//   }

//   a {
//     text-decoration: none;
//   }
// }


//HEADING BEFORE LIST Example: bookmark list0

%header-w-circle-icon,
.page-user .section-content .block .heading-before-list {
  padding: .7em .7em 0em;
  float: left;
  width: 100%;
  border-bottom: 1px solid $shade3;

    h2 {
      float: left;
      width: 100%;
      text-transform: uppercase;

      &:before {
      @extend %circle-icon;
      @extend %icon-bookmark;
      font-size: 1em !important;
      }
    }
  }

%header-w-circle-icon-div {
  padding: .5em .7em;
  float: left;
  width: 100%;
  border-bottom: 1px solid $shade3;
  background: #fff;
}

%header-w-circle-icon-element {
  float: left;
  width: 100%;
  text-transform: uppercase;
  text-transform: uppercase;
  display: block;
  font-weight: $bold;
  font-size: .75em;
  line-height: 23px;

  &:before {
    @extend %circle-icon;
    @extend %icon-bookmark;
    font-size: 1em !important;
    top: -1.5px !important;
    position: relative;
    }
}



 // UL background of lists with actions

.page-user .section-content .block  ul.lists-with-actions {
    background: #F7FCFF;
    width: 100%;
    float: left;
    border-bottom: 1px solid $shade3;
  }

.page-user .section-content .block  ul.lists-with-actions > li {
    padding: .5em 1em;
    margin-bottom: 0;

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(even) {
      background: #EEF5F9;
    }

    a {
      font-weight: 400;
      color: $brand1;
    }
  }

  //text in lists with actions

.page-user .section-content .block .txt-item-in-list {
    top: 2px;
    position: relative;
  }


//ADMIN ACESS WRAPPER EXAMPLE: Workflow report admin button area

  .admin-access-wrapper {
    //margin: 1em;
    float: right;
    width: 100%;
    border-top: 1px solid $shade3;
    padding: .7em;
  }

  .admin-access-wrapper a{
    @extend %btn-w-icon;
    margin-bottom: 0;
    margin-right: 0;
    float: left;

    &:before {
     @extend %icon-profile;
    }
  }



/* =============================================================================
    SIDEBAR BLOCK STYLES
   ========================================================================== */

// //main header

// .page-user .sidebar .block h2 {
//   font-size: .95em;
// }

// //inner content

// .page-user .sidebar .block .view-content,
// .page-user .sidebar .block .content {
//   font-size: .8em;
//   float: left;
//   width: 100%;
// }

// //inner content sub header

// .page-user .sidebar .block .view-content,
// .page-user .sidebar .block .content {

//   h2, h3 {
//     font-size: .83em;
//     float: left;
//   }
// }

// //links

// .page-user .sidebar .block .view-content,
// .page-user .sidebar .block .content {
//   a{
//     text-decoration: none;
//     font-weight: $bold;
//   }
// }


//GENERAL LISTS

// .page-user .section-content .content {
//   ul {
//     margin: 0;
//     padding: 0;

//     li {
//       list-style-image: none;
//       list-style: none;
//       float: left;
//       width: 100%;

//         &.last {
//           margin-bottom: 0;
//         }
//     }
//   }
// }


//LOCKED OBJECTS

table td.cwrc-object-locked-owned{
  &:after{
    @extend %icon-locked;
    float: right;
    color: #D4456F;
    margin-right: 1em;
  }

  span.hide-txt {
    overflow: hidden;
    text-indent: -100px;
    width: 1px;
    height: 1px;
    display: block;
  }
}

table td.cwrc-object-locked-not-owned{
  &:after{
    @extend %icon-locked;
    float: right;
    color: #D4456F;
    margin-right: 1em;
  }

  span.hide-txt {
    overflow: hidden;
    text-indent: -100px;
    width: 1px;
    height: 1px;
    display: block;
  }
}

table td.cwrc-object-not-locked{
  &:after{
    @extend %icon-unlocked;
    float: right;
    color: #4FAF4F;
    margin-right: 1em;
  }

  span.hide-txt {
    overflow: hidden;
    text-indent: -100px;
    width: 1px;
    height: 1px;
    display: block;
  }
}


/* =============================================================================
    ELEMENTS INCLUDED IN THIS SECTION
   ========================================================================== */


   //BADGE / NOTIFICATIONS

   .badge {
    @include badge;
   }


   //ACTION LISTS

   .lists-with-actions{
    @include lists-w-actions;
   }


   //FLAGGED / STARRED ITEMS

   .flag-wrapper {
    @include flagged-item;
   }


   //NO RESULT TEXT

  span.no-results {
    padding: .7em;
    display: block;
  }



