
/* =============================================================================
   HOMEPAGE
   ========================================================================== */

.front .main-prefix-section-wrapper {
  padding: 0;
}

.front .region-project-banner {
  height: auto;
}

.front article {
  display: none;
}

.front .region-main-suffix {
  background: #F9F9F9;
  padding: 1.5em 0;
  margin-bottom: 0;
  border-bottom: 1px solid #E1E1E1;
}

.front .section-content {
  border-bottom: 1px solid $shade3;
}
