
/* =============================================================================
   PERMISSIONS
   ========================================================================== */

   //PEOPLE

   .page-admin-people-permissions {

    .block-system {
      padding: 0;
    }

    .fpa-toggle-container {
      border-bottom: 2px solid $shade3;
      padding: 0;
      margin-bottom: ms(0);
      padding-bottom: .5em;
    }

    .fpa-toggle-container a{
      @include btn-blue;
    }
   }


  //FILTER

   .fpa-filter-form {
      background: #fafafa;
      margin: 1em;
      border: 1px solid $shade3;
      border-radius: 5px;

    .field-suffix input.form-submit {
      margin-top: 0 !Important;
      top: -3px;
      position: relative;
    }
   }


  //WRAPPER

   .fpa-wrapper {
    width: 100%;
    position: relative;
    display: block;

    .fpa-left-section {
      float: left;
      width: 20%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: none;

      span.fpa-perm-total {
        display: inline-block;
        padding-left: .3em;
        font-size: .8em;
      }

      input.form-submit {
        margin-left: 1em !important;
        margin-bottom: 1em !important;
        display: inline-block;
      }

      ul li {
        border-bottom: 1px solid $shade3;
        margin-bottom: 0;
        border-right: 1px solid $shade3;
        background: #fafafa;
        @extend %transition;

        a {
          text-decoration: none;
          font-weight: $bold;
          padding: .4em .4em;
          font-size: .95em;
          display: inline-block;
        }

        &:hover {
          background: #fff;
        }

        &.first {
          border-top-left-radius: 5px;
        }
      }
    }

    .fpa-right-section {
      float: left;
      width: 80%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      table {
          tbody tr:last-child td{
            border-bottom: 1px solid #EAEAEA;
          }

          tbody tr td:first-child {
            border-left: 1px solid #EAEAEA;
          }

          tbody tr td:last-child {
            border-right: 1px solid #EAEAEA;
          }

          thead tr th:last-child {
            border-top-right-radius: 5px;
          }

          thead th {
            background: $brand2;

            &:nth-child(1) {
              @extend %border-radius-top-left;
            }

            &:last-child {
               @extend %border-radius-top-right;
            }
          }

          tbody tr:last-child td:first-child{
            @extend %border-radius-bottom-left;
          }

          tbody tr:last-child td:last-child{
            @extend %border-radius-bottom-right;
          }

          td.module {
            background: #fafafa;
          }
      }

      table th{
        background: #D8DDE4;
        padding: .4em 1em;
        color: #fff !Important;
        line-height: 12px;

        &.checkbox {
          vertical-align: middle;
        }

        .form-submit {
          display: block;
          background: #eee !important;
          color: $brand1 !important;
        }

        input.form-checkbox {
          width: 15px;
          height: 15px;
          display: block;
          margin: .5em auto 0;
        }
      }

      .fpa-table-wrapper {
        width: 100%;
        float: left;
      }
    }
   }


//LIST

.page-admin-people {
  fieldset {
    .form-submit {
      margin-top: 0em !important;
    }
  }

  .view-filters {
    select,
    input {
      margin-right: ms(0);
      @include breakpoint(0 550px){
        width: 100% !important;
        margin-bottom: .5em;
      }
    }

    .form-submit {
      margin-top: 2.2em !important;
    }
  }

  .view-filters .views-exposed-widget {
    margin-right: 1em;
  }

  .view-filters .views-exposed-widget {
    @include breakpoint(0 550px){
      width: 100%;
    }
  }
}

.view-filters {
  box-shadow: none;
  border: 1px solid $shade3;
  border-radius: 5px;
}



//FORM

form#user-register-form > .form-item {
  border:1px solid $shade3;
}






























