//
// @file
// Styles for the views-exposed-form-project-overview-page-grid-3 widget.
//

.view-display-id-page_grid_3 {

  table.views-view-grid td {
    width: 33%;

    text-align: center;

    vertical-align: top;
  }

  .node-project .field-name-title {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.6;
  }

}

.sidebar .block form#views-exposed-form-project-overview-page-grid-3 {

  input[type=checkbox] {
    width: auto;
  }

  .views-exposed-widget > label {
    margin: .5em 0;

    color: #333;
    font-size: 0.71402em;
    font-weight: 900;
    line-height: 1.5em;
    text-transform: uppercase;
  }

  .form-checkboxes .form-type-checkbox {
    margin: .2em 0;
  }

}
