

/* =============================================================================
    HOMEPAGE SLIDER
   ========================================================================== */

.front .view-homepage-slider {

  .views-row {
    border-radius: 3px;
    padding: 0;
    margin: 0 10px;
  }

  .slick-list {
   @include breakpoint(0 745px) {
     margin: 0 2.4em;
   }
  }


  .homepage-slider-left {
    float: left;
    width: 30%;
    padding: 1.5em;
    background: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    @include breakpoint(0 780px) {
      width: 100%;
    }
  }

  .homepage-slider-right {
    float: left;
    width: 70%;
    background: #eee;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    @include breakpoint(0 780px) {
      width: 100%;
    }
  }

  button {
    top: 42%;
  }

  //banner img info

  .image-information {
    float: left;
    padding: 1.5em;
    width: 100%;
  }

  .cta-btn a {
    @include btn-blue;
    margin: 1em 0 0 0;
    float: right;
  }



  //logo

  .field-name-field-logo-image {
    img {
      height: 55px;
      width: auto;
      margin-bottom: 1em;
    }
  }

  //desc

  .field-name-field-text {
    text-align: left;
  }

  //learn more

  .learn-more {
    margin-top: 1em;

    a {
      text-decoration: none;
      font-weight: $bold;
      text-transform: uppercase;
      font-size: ms(-.4);
    }
    @include breakpoint(0 780px) {
      float: left;
      width: 100%;
      text-align: right;
    }
  }

  //inner banner

  .field-name-field-image img {
    width: auto !important;
    border: none;
    padding: 0;
    margin: 0;
    border-top-right-radius: 3px;
    min-height: auto !important;
    @include breakpoint(0 780px) {
      border-radius: 0;
    }
  }
}

