
/* =============================================================================
    USER LOGIN
   ========================================================================== */

#block-user-login {
  header h2 {
    margin: -.7em -.7em .7em -.7em;
  }

  ul li {
    margin-bottom: .5em !important;
    font-size: .8em;
  }

  .form-submit {
    margin-top: ms(0);
  }
}
