
// Language block   ==============================================

ul.language-switcher-locale-url {
  float: right;
  margin-right: 1em;

  ul {
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-bottom: 0;

      a{
        padding: .58em .65em .58em .65em;
        color: #fff;
        text-decoration: none;
        font-size: ms(-.5);
        line-height: 32px;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          border: 1px solid #fff;
          border-radius: 4px;
        }
      }
    }
  }
}
