
/* =============================================================================
    Islandora Colection
   ========================================================================== */


//GENERAL

.page-islandora-object.page-islandora-object-islandoraroot .section-content  ul.pager {
  float: left;
  width: 100%;
}

.page-islandora-object-islandoracollectionCModel #block-system-main,
.page-islandora-object-islandoraroot #block-system-main {
  border: none;
  padding: 0;
}

.page-islandora-object .islandora div.form-item.form-type-select.form-item-sort {
  width: auto;
}




/* =============================================================================
    List / Grid Toggle
   ========================================================================== */

.islandora-basic-collection-display-switch {
  position: Relative;
  top: 3.5em;
  z-index: 500;

  ul.links {
    float: right;

    li {
      display: inline-block;
      margin-left: .5em;
      width: auto;

      a{
        background-repeat: no-repeat;
        background-position: center right;
        display: block;
        position: relative;
        width: 25px;
        height: 25px;
        overflow: hidden;
        color: lighten($brand1, 40%);
        @extend %transition;
        padding-top: 5px;

        //grid

        &.islandora-view-grid {
          &:before {
            @extend %icon-grid-view;
          }
        }

        //list

        &.islandora-view-list {
          &:before {
            @extend %icon-list-view;
          }
        }

        &:hover {
         color: $brand1;
        }

        &.active:before{
         color: $brand1;
        }
      }
    }
  }
}


/* =============================================================================
    Sort
   ========================================================================== */

.islandora-basic-collection .form-wrapper {
  float: left;
  padding: 0;
  border: none;
  margin-bottom: ms(.5);
  width: 100%;
  padding-bottom: ms(-2);
  border-bottom: 1px solid $shade3;
  border-radius: 0;

  label {
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 900;
    line-height: 20px;
  }

  legend {
    display: none;
  }

  .form-item.form-type-select {
    float: left;
  }
}

.section-content #main .islandora-basic-collection .form-wrapper input.form-submit {
  margin-top: 2.2em;
  margin-left: ms(0);
}


/* =============================================================================
    Object Items
   ========================================================================== */

.islandora-basic-collection-grid {
  width: 100%;
  float: left;
}

.islandora-basic-collection {
  overflow: visible;
  top: -1em;
  position: relative;


//BOXES

  ul.list-layout li,
  ul.grid-layout li {
    width: 31.5%;
    margin: 0 2% 2% 0;
    padding: 1em;
    border: 1px solid lighten($brand3, 10%);
    position: relative;
    background: #fff;
    border: 1px solid $shade3;
    @extend %border-radius-small;
    min-height: 99px;
    width: 48.5%;
    @include breakpoint(max-width 710px) {
      min-height: 80px;
      @include breakpoint(max-width 715px) {
        width: 98%;
        margin: 2% 0;
        }
      }
  }

  ul.grid-layout li:nth-child(2n+2) {
    @include breakpoint(420px) {
     margin-right: 0;
   }
  }


//WITHIN BOX

.top-wrapper {
  position: relative;
  width: 100%;
  float: left;
}

.right-wrapper {
  float: left;
  padding-left: 65px;
  width: 100%;
  @include breakpoint(715px) {
    padding-left: 80px;
  }

  .project-info {
    a {
      img {
        width: auto;
        height: 30px;
        margin-top: .2em;
        float: left;
        margin-right: 1em;
      }
    }
  }
}

.left-wrapper {
  float: left;
  position: absolute;
}

.creation-info {
  font-weight: $bold;
  font-size: .8em;
  margin-bottom: .5em;

  .creator, .date {
    line-height: 14px;
  }

  .date {
    display: inline-block;
  }
}


//CAPTION / TITLE

.islandora-basic-collection .right-wrapper .label {
  padding: 0;
  margin-bottom: .2em;

  a {
    text-decoration: none;
    font-weight: $xbold;
  }
}


//READ MORE

.islandora-basic-collection-object dl dd.read-more,
dl.islandora-basic-collection-object dd.read-more {
  a {
    color: $brand4;
    font-weight: $bold;
    font-size: .8em;
    position: absolute;
    right: 1em;
    bottom: 1em;
    text-decoration: none;
      @include breakpoint(max-width 420px) {
        position: relative;
        float: right;
        margin-top: 1em;
      }

    &:hover {
      color: darken($brand4, 10%);
    }

    &:after {
      @extend %icon-arrow-right;
      float: right;
      font-weight: $bold;
      top: 4px;
      font-size: .7em;
      margin-left: .5em;
    }
  }
}


//IMAGES / ICONS

  .islandora-basic-collection .left-wrapper a .no-image {
    float: left;
    height: 64px;
    width: 64px;
    background-color: $brand4;
    @extend %border-radius-small;
    @include breakpoint(0 715px) {
      width: 45px;
      height: 45px;
    }

    &:before {
      @extend %icon-files-empty;
      color: #fff;
      width: 64px !important;
      line-height: 64px !important;
      font-size: 1.8em !important;
      font-weight: $normal !important;
      @include breakpoint(0 715px) {
        width: 45px !important;
        height: 45px !important;
        font-size: 1.3em !important;
        line-height: 45px !important;
      }
    }

    img {
      display: none;
    }
  }

//if it has an img

  .islandora-basic-collection .left-wrapper a img {
    background-color: #fff !important;
    border: 1px solid $shade3;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    @include breakpoint(0 715px) {
      width: 45px;
      height: 45px;
    }

    a {
      height: 100%;
      overflow: hidden;
      position: relative;
      display: block;
    }

    &:before {
      content: none !important;
    }

    img {
      display: block !important;
      padding: 0em;
      min-width: 100%;
      min-height: 100%;
      margin: auto;
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
      border-radius: 3px;
    }
  }

//Critical Edition Container Content Model

  .islandora-basic-collection .left-wrapper.islandora-criticaleditioncontainercmodel a .no-image:before {
    &:before {
      @extend %icon-folder-open;
    }
  }

//TEI-RDF Content Model

  .islandora-basic-collection .left-wrapper.islandora-tei-rdfcmodel a .no-image:before  {
    &:before {
      @extend %icon-clipboard;
    }
  }

//Transcription Content Model Content Model

  .islandora-basic-collection .left-wrapper.islandora-transcriptioncmodel a .no-image:before {
    &:before {
      @extend %icon-file-text2;
    }
  }

//Version Content Model

  .islandora-basic-collection .left-wrapper.islandora-versioncmodel a .no-image:before {
    &:before {
      @extend %icon-pencil;
    }
  }

//Islandora Audio Content Model

  .islandora-basic-collection .left-wrapper.islandora-sp-audiocmodel a .no-image:before {
    &:before {
      @extend %icon-file-music;
    }
  }

//Islandora Collection Content Model

  .islandora-basic-collection .left-wrapper.islandora-collectioncmodel a .no-image:before {
    &:before {
      @extend %icon-files-empty;
    }
  }

//Islandora Basic Image Content Model

  .islandora-basic-collection .left-wrapper.islandora-sp-basic-image a .no-image:before {
    &:before {
      @extend %icon-file-picture;
    }
  }

//Islandora Internet Archive Book Content Model

  .islandora-basic-collection .left-wrapper.islandora-bookcmodel a .no-image:before {
    &:before {
      @extend %icon-internet-archive;
      font-size: 2.8em !important;
    }
  }

//Islandora Page Content Model

  .islandora-basic-collection .left-wrapper.islandora-pagecmodel a .no-image:before {
    &:before {
      @extend %icon-file-empty;
    }
  }

//Islandora Compound Object Content Model

  .islandora-basic-collection .left-wrapper.islandora-compoundcmodel a .no-image:before {
    &:before {
      @extend %icon-object;
      font-size: 2.2em !important;
    }
  }

//CWRC Organization Entity Content Model

  .islandora-basic-collection .left-wrapper.cwrc-organization-entitycmodel a .no-image:before {
    &:before {
      @extend %icon-drawer;
      top: -4px !important;
    }
  }

//CWRC Person Entity Content Model

  .islandora-basic-collection .left-wrapper.cwrc-person-entitycmodel a .no-image:before {
    &:before {
      @extend %icon-person;
      font-size: 2.2em !important;
    }
  }

//CWRC Place Entity Content Model

  .islandora-basic-collection .left-wrapper.cwrc-place-entitycmodel a .no-image:before {
    &:before {
      @extend %icon-location;
    }
  }

//CWRC Schema Content Model

  .islandora-basic-collection .left-wrapper.cwrc-schemacmodel a .no-image:before {
    &:before {
      @extend %icon-libreoffice;
    }
  }

//Islandora Large Image Content Model

  .islandora-basic-collection .left-wrapper.islandora-sp-large-image-cmodel a .no-image:before {
    &:before {
      @extend %icon-file-picture;
    }
  }

//Islandora PDF Content Mode

  .islandora-basic-collection .left-wrapper.islandora-sp-pdf a .no-image:before {
    &:before {
      @extend %icon-file-pdf;
    }
  }

//Islandora Video Content Model

  .islandora-basic-collection .left-wrapper.islandora-sp-videocmodel a .no-image:before {
    &:before {
      @extend %icon-file-play;
    }
  }

//CWRC Document Content Model

  .islandora-basic-collection .left-wrapper.cwrc-documentcmodel a .no-image:before {
    &:before {
      @extend %icon-file-text;
    }
  }

//Citation Content Model

  .islandora-basic-collection .left-wrapper.cwrc-citationcmodel a .no-image:before {
    &:before {
      @extend %icon-annotation;
    }
  }
}


/* =============================================================================
    List View
   ========================================================================== */


.islandora-basic-collection ul.list-layout {
  padding-bottom: .5em;
  margin-bottom: .5em;
  width: 100% !important;

  li {
    float: left;
    width: 100%;
    border: none;
    border-bottom: 1px solid $shade3;
    padding: 1em 0;
    border-radius: 0;
    margin: 0;
  }
}












