/* =============================================================================
    PROJECT DASHBOARD GENERAL
   ========================================================================== */

 //bring in styles from section-page-user.scss

.page-node-dashboard, .node-type-project {
  @extend .page-user;
}

//reset content

#block-views-pending-applications-block .content,
#block-views-project-members-block .content{
  padding: 0;
  background: #fff;
  @extend %border-radius-bottom-right;
  @extend %border-radius-bottom-left;

  .cwrc-dashboards-new-member-link-wrapper {
    padding: 1em;
  }
}


//HEADERS

#block-cwrc-dashboards-project-locked-objects {
  h2:before {
    @extend %icon-locked;
  }
}

#block-cwrc-dashboards-project-recently-edited {
  h2:before {
    @extend %icon-pencil;
  }
}

#block-cwrc-dashboards-project-utilities {
  h2:before {
    @extend %icon-settings;
  }
}

#block-views-project-members-block {
  h2:before {
    @extend %icon-peer-reviewed;
  }
}

#block-views-pending-applications-block {
  h2:before {
    @extend %icon-clock;
  }
}

#block-cwrc-dashboards-project-locked-objects,
#block-cwrc-dashboards-project-utilities,
#block-views-project-members-block {
  h2:before {
    font-size: 23px !important;
    line-height: 17px;
  }
}



/* =============================================================================
    ELEMENTS
   ========================================================================== */

//TABLE STYLES

#block-views-pending-applications-block .content,
#block-views-project-members-block .content{

  table {
    background: $shade5;
    border-top: 1px solid $shade3;
    border-radius: 0;
    font-size: 13px !important;

    thead th {
      background: $shade5;
      border-radius: 0;
      padding: .8em .4em;
      border-bottom: 0;
      text-transform: uppercase;
    }

    thead tr {
      border-bottom: 2px solid $shade2 !important;
    }

    tbody {
      border-top: none;
    }

    tbody tr:last-child td {
      border-bottom: none;
    }

    //checkboxes

    tr td.views-field-views-bulk-operations,
    tr th.views-field-views-bulk-operations {
      padding: 0 1em;
    }

    tr {
      background: $shade5;
      float: left;
      width: 100%;
      border-bottom: 1px solid $shade3 !important;
    }

    tr.views-row-last {
      border-bottom: none !important;
    }

    tr:nth-child(odd) {
      border-bottom: none;
    }
  }

  th.views-field-views-bulk-operations,
  td.views-field-views-bulk-operations {
    input.form-checkbox {
      top: 3px;
    }
  }

}




//BUTTONS

.page-node-dashboard {
  input.form-submit, input#edit-submit {
    background-color: $brand4;
  }
}


/* =============================================================================
   FIELDSET STYLES
   ========================================================================== */


//FIELDSET / OPERATIONS STYLE

.page-node-dashboard fieldset.form-wrapper {
  background: #fff;
  margin: 0;
  padding: 0em !important;
  border: none;
  border-top: 1px solid $shade2;
  @extend %border-radius-bottom-right;
  @extend %border-radius-bottom-left;

  //operations label

  legend {
    width: 100%;
    display: block;
    background: #fff;
    padding: .7em;
    border-top: 1px solid $shade2;
    border-bottom: 1px solid $shade2;
    text-transform: uppercase;
    font-weight: $bold;
    color: $brand1 !important;
    font-size: 11px;

    span {
      line-height: 23px;
    }

    &:before {
      @extend %circle-icon;
      @extend %icon-wrench;
    }
  }

  //buttons

  .fieldset-wrapper {
    padding: .9em;

    input.form-submit {
      @extend %btn-w-icon;
      margin-bottom: 0;

      &:hover {

      }
    }
  }
}

























































